.movie-list{
    width: 80%;
    margin: 0 auto !important;
    margin-top: 50px !important;
    border-color: aqua;
    .ant-list-header{
        background-color:  #001529 !important;
        h2{
            text-align: center;
            margin: 0;
            color: #f4f6f8;
        }
    }
    .ant-list-items{
        height: 500px;
        overflow: scroll;

    }
    &__movie {
        .ant-list-items-meta{
            align-items: center;

        }
        .ant-list-items-title{
            margin: 0;
        }
    }
}